@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to left, #ffffff, #ece9e6);
  background: linear-gradient(to left, #ffffff, #ece9e6);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  width: 350px;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 10px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  padding: 0.4rem 1rem;
}

header button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.2rem;
  border: none;
  margin-left: 8px;
}

.fav-container {
  background: rgb(246, 233, 252);
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.fav-meals li {
  position: relative;
  width: 85px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: -0.2rem;
  right: -0.5rem;
  opacity: 0;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
  object-position: center;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  margin: 1.4rem;
  overflow: hidden;
  position: relative;
}

.meal .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(224, 219, 219);
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
  cursor: pointer;
}
